html,body {
  color:#333;
  height:100%;
}

#content textarea {
  width:50%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:#eee;
  border:0;
  box-sizing:border-box;
  padding:10px;
}
#content textarea:focus {
  outline:0;
}

#preview {
  width:50%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  padding:10px;
  box-sizing:border-box;
}
