html,body {
  color:#333;
  height:100%;
}

#saveButton {
  position: absolute;
  bottom:10px;
  right:10px;
  z-index:100;
}

#editor {
  width:50%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-color:#eee;
  border:0;
  box-sizing:border-box;
  padding:10px 20px;
  resize:none;
  :focus {
    outline:0;
  }
}

#preview {
  width:50%;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  display: inline-block;
  padding:10px 20px;
  box-sizing:border-box;
}


#separate {
  position:absolute;
  top:0;
  left:50%;
  width:3px;
  background-color:#999;
  cursor:col-resize;
  height:100%;
  z-index:5;
}
